In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn import datasets
from sklearn import preprocessing
from kmodes.kprototypes import KPrototypes
import matplotlib.pyplot as plt
import plotly.express as px
import pickle

In [2]:
kp = pickle.load(open('../data/kp.pkl','rb'))

In [3]:
samples = pd.read_csv('../data/samples.csv', header=0, index_col=False);

In [4]:
samples

,DLVR_STORE_ADSTRD_CODE,DLVR_STORE_INDUTY_NM,DLVR_STORE_LEGALDONG_NM,월 평균 배달 매출,월 평균 주문 건수,평균 주문 금액,평균 소요 시간
0,11560660,족발/보쌈,신길동,9326000,363,25700,980
1,41285520,치킨,중산동,8581100,350,24500,1340
2,41150510,치킨,의정부동,1435200,82,17600,930
3,41285590,돈까스/일식,장항동,5713300,157,36300,1430
4,41150580,치킨,금오동,13006200,538,24200,960
...,...,...,...,...,...,...,...
8654,41150545,분식,호원동,7800,0,23500,1860
8655,41150576,찜탕,민락동,31700,0,190000,3720
8656,41150578,카페/디저트,민락동,4200,0,25200,1620
8657,41250565,한식,생연동,8600,1,12900,1980
8658,41150510,분식,의정부동,2500,0,15000,1680

In [5]:
kp

KPrototypes(gamma=0.5, init='Huang', max_iter=30, n_clusters=4, n_init=1,
            verbose=True)

In [6]:
# 입력

store = ['41390570', '야식', '산현동', 7326000 ,300, 22000, 1300]

In [7]:
samples = samples.append(pd.Series(store, index=samples.columns), ignore_index=True)

In [8]:
samples['DLVR_STORE_ADSTRD_CODE'] = samples['DLVR_STORE_ADSTRD_CODE'].astype('str')

In [9]:
# 원핫인코딩(더미 변수)
label_encoder = preprocessing.LabelEncoder()  
onehot_encoder = preprocessing.OneHotEncoder()  

onehot_hjdCode = label_encoder.fit_transform(samples['DLVR_STORE_ADSTRD_CODE'])
onehot_induty = label_encoder.fit_transform(samples['DLVR_STORE_INDUTY_NM'])
onehot_bjdCode = label_encoder.fit_transform(samples['DLVR_STORE_LEGALDONG_NM'])

samples['DLVR_STORE_ADSTRD_CODE'] = onehot_hjdCode
samples['DLVR_STORE_INDUTY_NM'] = onehot_induty
samples['DLVR_STORE_LEGALDONG_NM'] = onehot_bjdCode

In [10]:
samples = preprocessing.StandardScaler().fit(samples).transform(samples)

In [11]:
kp_labels = kp.predict(samples, categorical=[3])

In [12]:
kp_labels[-1]

1